---
import BaseLayout from '../../layouts/BaseLayout.astro';
import Search from '../Search.astro';
import { useTranslations } from '../../i18n/utils';
import type { Lang } from '../../i18n/ui';

const { lang } = Astro.props as { lang: Lang };
const t = useTranslations(lang);
---

<BaseLayout title={t('search.title')}>
  <h1>{t('search.title')}</h1>
  <Search />
</BaseLayout>
